
:root {
    --primary-color: #000000;
    --secondary-color: 1C1C1C;
    --ternary-color:FFE500;
    --footer-background:101115;
    
}

body{
    margin: 0px;
    background-color:black;


}
.navv{
    display: flex;
    background-color: var(--primary-color);
    height: 10vh;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    align-items: center;
}
.navv-items{
    display: flex;
    align-items: center;
    margin: 0px;
    
}
.search-div{
    display: flex  ;
    align-items: center;
    width: 50vw;
    height: 2.5rem;
    border: 0px solid;
    border-radius: 30px 0px 0px 30px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    
}
#search-box{
    /* padding: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 45vw;

  
}
.search-button{
    display: flex;
    align-items: center;
    width: 50px;
    height: 2.5rem;
    border: 0px solid;
    border-radius: 0px 30px 30px 0px;
    padding: 10px;
    background-color: var(--ternary-color);;
}
.mobile-navv{
    display: none;
    background-color: var(--primary-color);
    height: 8vh;
    align-items: center;
    justify-content: center;
  
  
}
.a-center{
    display: flex;
    justify-content: center;

}
.footer{
    margin: 5rem 0 0 0;
    height: auto;
    background-color: var(--footer-background);
 
}
.test{
    background-color: aqua;
}

footer{
    color: white;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}

.foot-details {
    margin-top: 100px;
}
.bottom-footer{
    margin: 0px 50px 0px 50px;
    padding-bottom: 40px;
}
.search-form{
    display: flex;
    padding-top: 10px;

}





@media(max-width: 600px) {
    .search-button{
        
        background-color: aqua;
      
       
    }
    .navv{
        justify-content: space-between;
    }

    .navv-middle{
        display: none;
    }
    .mobile-navv{
        display: flex;
    }
    .search-div{
        display: flex  ;
        align-items: center;
        /* padding: 2px 20px 0px 5pxpx; */
    }
    #search-box{
     
        width: 80px;
    
      
    }
    .foot-details {
        flex-direction: column;
        margin-top: 100px;
    }
    .mobile-navv{

        position: sticky;
        top: 0;
        /* Adjust the background color as needed */
        z-index: 1000; 
          
    }
  }