<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/PNG" href="stylesheet\img\gadgin.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Bootstrap -->
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheet/main.css">
    <link rel="stylesheet" href="/stylesheet/form.css">
    <!-- Stylesheets -->

</head>

<body>

    <!-- Header Starts -->
    <%- include('include/_headerwocart') %>
    <!-- Header Ends -->


    <!-- Login Form -->
    <div class="form-div">
        <div class="form-div-inner">
            <form class="login-form"  id="form" action="/api/update" method="post">
                <h3 class="a-center">Reset Password</h3>
                <span class="err-msg align-self-center text-danger" id="errorElement">
                    <% if (messages.error) { %>
                        <%= messages.error %>
                        <% } %>
                </span>

                <div class="form-group">
                    <label for="exampleInputEmail1">New Password</label>
                    <input type="password" class="form-control" id="password" aria-describedby="emailHelp"
                        placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" name="confirmpassword">
                    <span id="comparepass-error" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <div class="a-center">
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                </div>
                <div class="form-group d-none">
                    <input type="text" class="form-control" id="email" name="email" value="<%=email%>" aria-describedby="emailHelp"
                        placeholder="Name">
                </div>
                <!-- <div class="a-center mt-5">
                    <a class="sm-font text-white" href="">Register</a>
                </div> -->
            </form>

        </div>
    </div>
    <!-- Login Form Ends -->


    
<!-- Footer -->
<script src="/js/confirmpasschecker.js"></script>
<%- include('include/_footer') %>
<!-- Footer -->

</body>

</html>