<footer class="footer">
    <div class="gadgin-footer d-flex justify-content-center mb-3">
        <div class="foot-details d-flex align-items-center justify-content-center gap-5">

            <!-- Customer Service -->
            <div class="foot-sub1">
                <h4>Customer Service</h4>
                <div class="d-flex">
                    <div class="d-flex align-items-center px-3">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.0153 0C5.40741 0 0.0281909 5.37406 0.0257882 11.9813C0.0245869 14.0932 0.577825 16.1551 1.62672 17.9719L0 24L6.27956 22.5164C8.03048 23.4716 10.0016 23.9731 12.0082 23.9743H12.0129C18.6195 23.9743 23.9964 18.599 24 11.993C24.0024 8.79015 22.7569 5.77891 20.4934 3.51328C18.23 1.24888 15.2219 0.00120124 12.0153 0ZM12.0129 2.4C14.5763 2.4012 16.9854 3.40056 18.7964 5.21014C20.6073 7.02216 21.6022 9.42987 21.5997 11.9906C21.5974 17.2754 17.2983 21.5742 12.0106 21.5742C10.4108 21.573 8.82614 21.1714 7.4304 20.4094L6.62176 19.9687L5.72872 20.1797L3.36596 20.7375L3.94257 18.5954L4.20275 17.6344L3.70583 16.7719C2.86816 15.3223 2.42482 13.6649 2.42602 11.9813C2.42842 6.69886 6.72876 2.4 12.0129 2.4ZM7.7726 6.45004C7.57225 6.45004 7.24818 6.52502 6.97336 6.82503C6.69854 7.12378 5.92325 7.84751 5.92325 9.32108C5.92325 10.7947 6.99679 12.2191 7.14677 12.4195C7.29564 12.6188 9.21901 15.7383 12.2637 16.9383C14.7935 17.9355 15.3074 17.7387 15.857 17.6883C16.4067 17.6391 17.6302 16.9653 17.8798 16.2656C18.1295 15.5661 18.13 14.9642 18.0557 14.8406C17.9813 14.7159 17.7814 14.6414 17.4814 14.4914C17.1825 14.3414 15.7099 13.6183 15.4351 13.5187C15.1603 13.4192 14.9593 13.3688 14.76 13.6688C14.5608 13.9688 13.9883 14.6414 13.8131 14.8406C13.6379 15.041 13.4638 15.068 13.1638 14.918C12.8638 14.7668 11.8991 14.4497 10.7542 13.4297C9.86372 12.6365 9.26281 11.6578 9.08761 11.3578C8.9136 11.059 9.07119 10.8949 9.22125 10.7461C9.35564 10.6117 9.5189 10.3963 9.66889 10.2211C9.81775 10.0459 9.86931 9.92111 9.96893 9.7219C10.0685 9.52269 10.0176 9.3469 9.94318 9.19686C9.86879 9.04689 9.28609 7.56779 9.01963 6.975C8.79518 6.47697 8.55819 6.4654 8.34455 6.45705C8.17054 6.44981 7.97183 6.45004 7.7726 6.45004Z"
                                fill="white"></path>
                        </svg>
                    </div>
                    <div>

                        <a href="">+91 2343551111</a>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="d-flex align-items-center px-3">
                        <svg width="30" height="29" viewBox="0 0 30 29" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect x="5" y="7.25" width="20" height="14.5" rx="2" stroke="white" stroke-width="2">
                            </rect>
                            <path
                                d="M5 10.875L14.1297 15.2877C14.6795 15.5534 15.3205 15.5534 15.8703 15.2877L25 10.875"
                                stroke="white" stroke-width="2"></path>
                        </svg>

                    </div>
                    <div>

                        <a href="">gadg.in@gadgin.com</a>
                    </div>
                </div>

            </div>

            <!-- Product Help -->

            <div class="foot-sub1">
                <h4>Product Help</h4>
                <div class="d-flex a-center ">
                    <div>
                        <a href="">Return &amp; Cancellation
                            Policy</a>
                    </div>
                </div>
                <div>
                    <a href="">Shipping &amp; Delivery Policy</a>
                </div>
                <div class="d-flex a-center ">
                    <div id="extwaiokist" style="display:none" v="nipgg" q="f0516f7d" c="133.3" i="114" u="0.515"
                        s="11042302" sg="svr_09102316-ga_11042302-bai_09282317" d="1" w="false" e="" a="3" m="BMe="
                        vn="9adfy">
                        <div id="extwaigglbit" style="display:none" v="nipgg" q="f0516f7d" c="133.3" i="114"
                            u="0.515" s="11042302" sg="svr_09102316-ga_11042302-bai_09282317" d="1" w="false" e=""
                            a="3" m="BMe="></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="bottom-footer d-flex justify-content-between">
        <div>
            <svg width="85" height="56" viewBox="0 0 92 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.456 11.92H21.744V21.76C20.5493 22.6347 19.2747 23.2693 17.92 23.664C16.576 24.0587 15.168 24.256 13.696 24.256C11.776 24.256 10.0267 23.9573 8.448 23.36C6.88 22.752 5.536 21.92 4.416 20.864C3.296 19.7973 2.432 18.5387 1.824 17.088C1.216 15.6267 0.912 14.0427 0.912 12.336C0.912 10.5973 1.2 9.00267 1.776 7.552C2.352 6.09067 3.17333 4.832 4.24 3.776C5.31733 2.72 6.61333 1.89867 8.128 1.312C9.65333 0.725332 11.3547 0.431999 13.232 0.431999C14.2027 0.431999 15.1147 0.511999 15.968 0.671999C16.8213 0.831999 17.6053 1.05067 18.32 1.328C19.0453 1.60533 19.7067 1.936 20.304 2.32C20.9013 2.704 21.4347 3.12 21.904 3.568L20.336 5.952C20.0907 6.32533 19.7707 6.55467 19.376 6.64C18.992 6.72533 18.576 6.62933 18.128 6.352C17.7013 6.096 17.296 5.87733 16.912 5.696C16.5387 5.504 16.1547 5.34933 15.76 5.232C15.3653 5.11467 14.9493 5.02933 14.512 4.976C14.0747 4.92267 13.584 4.896 13.04 4.896C12.0267 4.896 11.1147 5.07733 10.304 5.44C9.49333 5.792 8.8 6.29333 8.224 6.944C7.65867 7.59467 7.22133 8.37867 6.912 9.296C6.60267 10.2027 6.448 11.216 6.448 12.336C6.448 13.5733 6.61867 14.672 6.96 15.632C7.30133 16.592 7.78133 17.4027 8.4 18.064C9.02933 18.7253 9.776 19.232 10.64 19.584C11.5147 19.9253 12.48 20.096 13.536 20.096C14.1867 20.096 14.7733 20.032 15.296 19.904C15.8293 19.776 16.3467 19.6053 16.848 19.392V15.856H14.544C14.2027 15.856 13.936 15.7653 13.744 15.584C13.552 15.4027 13.456 15.1733 13.456 14.896V11.92ZM37.3573 15.088L35.1973 8.704C35.0373 8.29867 34.8666 7.824 34.6853 7.28C34.5039 6.72533 34.3226 6.128 34.1413 5.488C33.9813 6.13867 33.8106 6.74133 33.6293 7.296C33.4479 7.85067 33.2773 8.33067 33.1173 8.736L30.9733 15.088H37.3573ZM45.9493 24H41.7573C41.2879 24 40.9093 23.8933 40.6213 23.68C40.3333 23.456 40.1146 23.1733 39.9653 22.832L38.5893 18.768H29.7253L28.3493 22.832C28.2319 23.1307 28.0186 23.4027 27.7093 23.648C27.4106 23.8827 27.0373 24 26.5893 24H22.3652L31.3893 0.688H36.9253L45.9493 24ZM68.9393 12.336C68.9393 14.0213 68.6459 15.5787 68.0593 17.008C67.4833 18.4267 66.6673 19.6587 65.6113 20.704C64.5553 21.7387 63.2806 22.5493 61.7873 23.136C60.3046 23.712 58.6566 24 56.8433 24H47.7873V0.688H56.8433C58.6566 0.688 60.3046 0.981333 61.7873 1.568C63.2806 2.15466 64.5553 2.96533 65.6113 4C66.6673 5.03467 67.4833 6.26667 68.0593 7.696C68.6459 9.11467 68.9393 10.6613 68.9393 12.336ZM63.4033 12.336C63.4033 11.184 63.2539 10.144 62.9553 9.216C62.6566 8.288 62.2246 7.504 61.6593 6.864C61.1046 6.21333 60.4219 5.71733 59.6113 5.376C58.8006 5.024 57.8779 4.848 56.8433 4.848H53.2273V19.84H56.8433C57.8779 19.84 58.8006 19.6693 59.6113 19.328C60.4219 18.976 61.1046 18.48 61.6593 17.84C62.2246 17.1893 62.6566 16.4 62.9553 15.472C63.2539 14.544 63.4033 13.4987 63.4033 12.336ZM83.331 11.92H91.619V21.76C90.4243 22.6347 89.1497 23.2693 87.795 23.664C86.451 24.0587 85.043 24.256 83.571 24.256C81.651 24.256 79.9017 23.9573 78.323 23.36C76.755 22.752 75.411 21.92 74.291 20.864C73.171 19.7973 72.307 18.5387 71.699 17.088C71.091 15.6267 70.787 14.0427 70.787 12.336C70.787 10.5973 71.075 9.00267 71.651 7.552C72.227 6.09067 73.0483 4.832 74.115 3.776C75.1923 2.72 76.4883 1.89867 78.003 1.312C79.5283 0.725332 81.2297 0.431999 83.107 0.431999C84.0777 0.431999 84.9897 0.511999 85.843 0.671999C86.6963 0.831999 87.4803 1.05067 88.195 1.328C88.9203 1.60533 89.5817 1.936 90.179 2.32C90.7763 2.704 91.3097 3.12 91.779 3.568L90.211 5.952C89.9657 6.32533 89.6457 6.55467 89.251 6.64C88.867 6.72533 88.451 6.62933 88.003 6.352C87.5763 6.096 87.171 5.87733 86.787 5.696C86.4137 5.504 86.0297 5.34933 85.635 5.232C85.2403 5.11467 84.8243 5.02933 84.387 4.976C83.9497 4.92267 83.459 4.896 82.915 4.896C81.9017 4.896 80.9897 5.07733 80.179 5.44C79.3683 5.792 78.675 6.29333 78.099 6.944C77.5337 7.59467 77.0963 8.37867 76.787 9.296C76.4777 10.2027 76.323 11.216 76.323 12.336C76.323 13.5733 76.4937 14.672 76.835 15.632C77.1763 16.592 77.6563 17.4027 78.275 18.064C78.9043 18.7253 79.651 19.232 80.515 19.584C81.3897 19.9253 82.355 20.096 83.411 20.096C84.0617 20.096 84.6483 20.032 85.171 19.904C85.7043 19.776 86.2217 19.6053 86.723 19.392V15.856H84.419C84.0777 15.856 83.811 15.7653 83.619 15.584C83.427 15.4027 83.331 15.1733 83.331 14.896V11.92ZM1.008 59.488C1.008 59.104 1.07733 58.7467 1.216 58.416C1.36533 58.0853 1.56267 57.7973 1.808 57.552C2.064 57.3067 2.36267 57.1147 2.704 56.976C3.04533 56.8267 3.41867 56.752 3.824 56.752C4.21867 56.752 4.58667 56.8267 4.928 56.976C5.26933 57.1147 5.568 57.3067 5.824 57.552C6.08 57.7973 6.27733 58.0853 6.416 58.416C6.56533 58.7467 6.64 59.104 6.64 59.488C6.64 59.872 6.56533 60.2347 6.416 60.576C6.27733 60.9067 6.08 61.1947 5.824 61.44C5.568 61.6853 5.26933 61.8773 4.928 62.016C4.58667 62.1547 4.21867 62.224 3.824 62.224C3.41867 62.224 3.04533 62.1547 2.704 62.016C2.36267 61.8773 2.064 61.6853 1.808 61.44C1.56267 61.1947 1.36533 60.9067 1.216 60.576C1.07733 60.2347 1.008 59.872 1.008 59.488ZM15.3523 62H9.91225V38.688H15.3523V62ZM40.2018 38.688V62H37.3858C36.9698 62 36.6178 61.936 36.3298 61.808C36.0524 61.6693 35.7751 61.4347 35.4978 61.104L24.5058 47.2C24.5484 47.616 24.5751 48.0213 24.5858 48.416C24.6071 48.8 24.6178 49.1627 24.6178 49.504V62H19.8498V38.688H22.6978C22.9324 38.688 23.1298 38.6987 23.2898 38.72C23.4498 38.7413 23.5938 38.784 23.7218 38.848C23.8498 38.9013 23.9724 38.9813 24.0898 39.088C24.2071 39.1947 24.3404 39.3387 24.4898 39.52L35.5778 53.52C35.5244 53.072 35.4871 52.64 35.4658 52.224C35.4444 51.7973 35.4338 51.3973 35.4338 51.024V38.688H40.2018Z" fill="white"/>
            </svg>
                
        </div>
        <!-- Social Icons -->
        <div class="social-icons d-flex align-items-center gap-2">
             <div>
                <svg width="18" height="24" viewBox="0 0 18 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.89732 23.9905H11.3672V11.9935H15.7092C15.7092 11.9935 16.1158 10.0575 16.3142 7.94072H11.3924V5.17982C11.3924 4.76735 12.0971 4.21333 12.7957 4.21333H16.3211V0.00952148H11.5264C4.73817 0.00952148 4.89732 4.05066 4.89732 4.65405V7.9547H1.74796V11.9919H4.89732V23.9905Z" fill="white"/>
                    </svg>                        
             </div>
             <div>
                <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.310547" width="42.069" height="40" rx="5" fill="#101115"/>
                    <g clip-path="url(#clip0_9_987)">
                    <path d="M28.1133 7.01416H14.5767C10.7763 7.01416 7.68494 9.95392 7.68494 13.567V26.4379C7.68494 30.0514 10.7763 32.9903 14.5767 32.9903H28.1133C31.9137 32.9903 35.0047 30.0514 35.0047 26.4379V13.567C35.0047 9.95392 31.9137 7.01416 28.1133 7.01416ZM32.0319 26.4379C32.0319 28.4925 30.2738 30.1641 28.1133 30.1641H14.5767C12.4163 30.1641 10.6582 28.4925 10.6582 26.4379V13.567C10.6582 11.5128 12.4163 9.84156 14.5767 9.84156H28.1133C30.2738 9.84156 32.0319 11.5128 32.0319 13.567V26.4379Z" fill="white"/>
                    <path d="M28.6069 14.6955C27.6887 14.6955 26.9416 13.9855 26.9416 13.1124C26.9416 12.2398 27.6887 11.5298 28.6069 11.5298C29.5251 11.5298 30.2718 12.2398 30.2718 13.1124C30.2718 13.9855 29.5251 14.6955 28.6069 14.6955Z" fill="white"/>
                    <path d="M21.3443 13.3125C17.4651 13.3125 14.3085 16.3135 14.3085 20.0023C14.3085 23.691 17.4651 26.6924 21.3443 26.6924C25.2243 26.6924 28.3809 23.691 28.3809 20.0023C28.3809 16.3139 25.2243 13.3125 21.3443 13.3125ZM21.3443 23.8662C19.1051 23.8662 17.2813 22.1326 17.2813 20.0023C17.2813 17.8727 19.1051 16.1399 21.3443 16.1399C23.5848 16.1399 25.4073 17.8727 25.4073 20.0023C25.4073 22.1326 23.5848 23.8662 21.3443 23.8662Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_987">
                    <rect x="7.67261" y="7" width="27.3448" height="26" rx="5" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
             </div>
             <div>
                <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.621094" width="42.069" height="40" rx="5" fill="#101115"/>
                    <g clip-path="url(#clip0_9_995)">
                    <path d="M7.99445 28.1616C10.475 29.6742 13.4215 30.5566 16.5875 30.5566C26.8984 30.5566 32.5365 22.4352 32.5365 15.3913C32.5365 15.1607 32.531 14.9306 32.5206 14.7019C33.616 13.9506 34.5661 13.0118 35.3176 11.9429C34.3123 12.3668 33.2321 12.6536 32.098 12.7824C33.2554 12.1226 34.1443 11.0782 34.5626 9.83367C33.4795 10.4442 32.28 10.8881 31.0033 11.1268C29.9807 10.0911 28.5237 9.44385 26.9112 9.44385C23.8157 9.44385 21.3057 11.8304 21.3057 14.7737C21.3057 15.1913 21.3555 15.5982 21.451 15.9883C16.7925 15.766 12.6618 13.6442 9.89697 10.4194C9.41448 11.2067 9.13799 12.122 9.13799 13.0991C9.13799 14.948 10.1274 16.5795 11.6318 17.5353C10.7125 17.5076 9.84818 17.2676 9.09259 16.8685C9.09225 16.891 9.09225 16.9132 9.09225 16.9358C9.09225 19.5179 11.0246 21.6723 13.5888 22.162C13.1185 22.2834 12.6232 22.3491 12.1119 22.3491C11.7507 22.3491 11.3997 22.3156 11.0571 22.2531C11.7704 24.3707 13.8409 25.9116 16.2937 25.9545C14.3753 27.3842 11.9581 28.2364 9.33181 28.2364C8.87913 28.2364 8.43289 28.2112 7.99445 28.1616Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_995">
                    <rect x="7.98315" y="9" width="27.3448" height="22" rx="5" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
             </div>
             <div>
                <svg width="43" height="40" viewBox="0 0 43 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.930664" width="42.069" height="40" rx="5" fill="#101115"/>
                    <g clip-path="url(#clip0_9_1001)">
                    <path d="M11.7333 28.6948C15.1212 29.0537 18.5499 29.056 21.9642 29.0537C25.3797 29.056 28.8089 29.0537 32.1955 28.6948C33.626 28.5427 34.8147 27.5228 35.1494 26.1413C35.6258 24.1745 35.6271 22.0257 35.6271 19.9999C35.6271 17.9745 35.6315 15.8266 35.1548 13.8598C34.82 12.477 33.6318 11.4583 32.2006 11.3066C28.813 10.9464 25.3837 10.9451 21.97 10.9464C18.5556 10.9451 15.1253 10.9464 11.737 11.3066C10.3079 11.4583 9.11924 12.477 8.78583 13.8598C8.30978 15.8266 8.30402 17.9745 8.30402 20.0002C8.30402 22.026 8.30402 24.1745 8.78075 26.1413C9.11382 27.5228 10.3024 28.5427 11.7333 28.6948ZM18.4401 15.4419C21.335 16.8781 24.2117 18.3043 27.1259 19.7502C24.2201 21.1826 21.3431 22.6017 18.4401 24.0331V15.4419Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_9_1001">
                    <rect x="8.29272" y="10" width="27.3448" height="20" rx="5" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    
             </div>
        </div>

    </div>
</footer>

<script src="/js/validation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"></script>